<div class="form">
    <form action="/user/sign-in" method="post">
        <input type="email" name="email" id="email" placeholder="Enter your email" autocomplete="on">
        <input type="password" name="password" id="password" placeholder="Enter your password" autocomplete="off">
        <button type="submit">LOGIN</button>
        <a href="/user/sign-up" class="auth-links">Create you account</a>
    </form>
</div>
