<div class="form">
    <form action="/user/sign-up" method="post">
        <input type="text" name="name" id="name" placeholder="Enter your username" autocomplete="off">
        <input type="email" name="email" id="email" placeholder="Enter your email" autocomplete="off">
        <input type="password" name="password" id="password" placeholder="Enter your password" autocomplete="off">
        <button type="submit">SIGN UP</button>
        <a href="/user/sign-in" class="auth-links">Already have an account ? <span>Login</span></a>
    </form>
</div>
